@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Lora:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  position: relative;
}

h1,
h2,
h3,
h5,
h4,
h6 {
  font-family: "Lora", sans-serif;
  font-weight: 500;
  color: #000;
}

a:hover,
a:active {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

.none {
  display: none !important;
}

.your-name {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  width: 100vw;
  height: 100vh;
}
.your-name .box {
  background: #fff;
  border-radius: 9px;
  padding: 1rem 3rem;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}
.your-name .box label {
  color: #000;
  font-weight: bold;
  margin-bottom: 1rem;
  font-size: 14px;
}
.your-name .box input {
  padding: 0.5rem 1rem;
  border: none;
  border-bottom: 1px solid #ff4949;
}
.your-name .box input:focus-visible {
  outline: none;
}
.your-name .box button {
  background: #ff4949;
  padding: 0.5rem 3rem;
  border-radius: 9px;
  border: 1px solid transparent;
  margin: 1rem auto;
  cursor: pointer;
  color: #fff;
  display: block;
  transition: all 0.3s ease-in-out;
}
.your-name .box button:hover {
  border: 1px solid #ff4949;
  background: #fff;
  color: #000;
}

header .head {
  background: #fff;
  box-shadow: 0px 2px 5px rgb(85, 85, 85);
  padding: 1rem;
}
header .head h3 {
  text-align: center;
  margin: 0;
  font-weight: bold;
}

.hero-banner img {
  display: block;
  margin: 0 auto;
}
.hero-banner .text {
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  position: absolute;
  text-align: center;
  width: 100%;
}
.hero-banner .text h1 {
  line-height: 60px;
  letter-spacing: 3px;
  font-weight: bold;
}
.hero-banner .uk-overlay-primary {
  background: rgba(0, 0, 0, 0.8);
}

.section1 {
  margin-top: 3rem;
}
.section1 .section1-img {
  margin-bottom: 3rem;
  height: 350px;
}
.section1 .section1-img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 9px;
  transition: all 0.3s ease-in-out;
}
.section1 .section1-img:hover img {
  transform: scale(1.1);
  border-radius: 9px;
}

.section2 {
  background: #fff;
  margin-top: 3rem;
}
.section2 p {
  font-size: 45px;
  color: #0b0b45;
  font-weight: bold;
  text-align: center;
  line-height: 60px;
}
.section2 p span {
  font-size: 38px;
  color: #e76900;
}

.section3 {
  margin-top: 3rem;
}
.section3 .mySwiper {
  width: 100%;
  height: 100%;
}
.section3 .mySwiper .swiper-slide {
  cursor: pointer;
  padding: 1rem 0;
}
.section3 .mySwiper .swiper-slide .section3-wrapper {
  border-radius: 9px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
.section3 .mySwiper .swiper-slide .section3-wrapper .section3-img {
  position: relative;
  display: block;
  overflow: hidden;
}
.section3 .mySwiper .swiper-slide .section3-wrapper .section3-img::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  transition: transform 1.8s;
  transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -200%, 0);
}
.section3 .mySwiper .swiper-slide .section3-wrapper .section3-img:hover::before {
  transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 200%, 0);
}
.section3 .mySwiper .swiper-slide .section3-wrapper .section3-img img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  display: block;
  border-radius: 30px;
}
.section3 .mySwiper .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: #e76900;
}
.section3 .swiper-button-prev,
.section3 .swiper-button-next {
  color: #fff;
  background: #e76900;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.section3 .swiper-button-next:after,
.section3 .swiper-button-prev:after {
  font-size: 16px;
}

.section4 {
  overflow: hidden;
  border-radius: 30px;
  padding: 0;
  margin-top: 3rem;
}
.section4 .gallery-bg {
  width: 3200px;
  display: flex;
  -webkit-animation: gallerySlideshow 40s linear infinite;
          animation: gallerySlideshow 40s linear infinite;
}
.section4 .gallery-bg .gallery {
  padding: 0 1rem;
  position: relative;
}
.section4 .gallery-bg .gallery a {
  position: relative;
}
.section4 .gallery-bg .gallery a img {
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 30px;
}
.section4 .gallery-bg .gallery a::before {
  content: "";
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  border-radius: 30px;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
.section4 .gallery-bg .gallery a p {
  font-size: 16px;
  color: #fff;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: all 0.7s cubic-bezier(0.42, 0, 0.7, 1.79);
  margin-top: 100%;
}
.section4 .gallery-bg .gallery:hover a::before {
  opacity: 1;
  visibility: visible;
}
.section4 .gallery-bg .gallery:hover p {
  margin-top: 0;
}
.section4 .gallery-bg:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
@-webkit-keyframes gallerySlideshow {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-2000px);
  }
}
@keyframes gallerySlideshow {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-2000px);
  }
}

.section5 {
  background-image: url(../public/images/img1.jpg);
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  position: relative;
}
.section5::before {
  content: "";
  position: absolute;
  background-image: linear-gradient(180deg, #fff, transparent);
  width: 100%;
  height: 100%;
}

footer {
  margin-top: 3rem;
}
footer marquee {
  background: #0b0b45;
}
footer marquee p {
  padding: 1rem;
  color: #fff;
  margin: 0;
}
footer marquee p span {
  color: #e76900;
  font-weight: bold;
}

@media (max-width: 959.9px) {
  .section2 p {
    font-size: 35px !important;
    line-height: 50px !important;
  }
  .section2 p span {
    font-size: 28px !important;
  }
}
@media (max-width: 639.9px) {
  .hero-banner .text h1 {
    font-size: 30px;
    line-height: 40px;
  }
  .swiper-slide {
    padding: 1rem 5rem !important;
  }
}
@media (max-width: 500px) {
  .section3 .swiper .swiper-slide {
    padding: 1rem 1.5rem !important;
  }
}/*# sourceMappingURL=app.css.map */